@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

:root {
    --color-primary: #000033;
    --color-secondary: #000066;
    --color-white: #ffffff;
    --color-background: #f5f7f8;
    --color-brand: linear-gradient(111.3deg, #9c27b0 9.6%, #00bcd4 93.6%);
    --font-family-primary: 'Inter', sans-serif;
    --text-caps: capitalize;
    --font-size-primary: small;
    --font-weight-primary: 500;
    --text-large: large;
    --text-medium: medium;
}

html,
.oxyian-h1,
.oxyian-h2,
.oxyian-h3,
.oxyian-h4,
.oxyian-h5,
.oxyian-h6,
.oxyian-nav-header .oxyian-heading-2xlarge,
.oxyian-heading-large,
.oxyian-heading-medium,
.oxyian-heading-small,
.oxyian-heading-xlarge,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    font-family: var(--font-family-primary) !important;
    letter-spacing: 0.02rem;
    color: var(--color-primary) !important;
}

a {
    text-transform: capitalize !important;
}

.oxyian-border {
    border: solid 1px #e5e5e5 !important;
}

.oxyian-border-top-remove {
    border-top: none !important;
}

.oxyian-link-g {
    position: relative;
    text-transform: none !important;
    text-decoration: none !important;
    font-weight: 700;
}

.oxyian-link-g:before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 5px;
    border-radius: 2px;
    background: var(--color-brand) !important;
}

.mark {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(to right,
            rgba(255, 225, 0, 0.1),
            rgba(255, 225, 0, 0.7) 4%,
            rgba(255, 225, 0, 0.3));
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.oxyian-nav-header {
    font-size: var(--text-large) !important;
    font-weight: bold !important;
    text-transform: capitalize !important;
}

.oxyian-custom-button {
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid var(--color-primary);
    cursor: pointer;
    position: relative;
    background-color: var(--color-background);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.oxyian-custom-button:after {
    content: "";
    /* background-color: var(--color-brand); */
    background: var(--color-brand) !important;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 5px;
    left: 5px;
    transition: 0.2s;
}

.oxyian-custom-button:hover:after {
    top: 0px;
    left: 0px;
}


::-webkit-input-placeholder {
    display: inline-block;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    padding-right: .15em;
    white-space: nowrap;
}

#field_domains-input:focus::-webkit-input-placeholder {
    transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
    font-size: 75%;
    opacity: 1;
}

#field_domains-input.imitatefocus::-webkit-input-placeholder {
    transform: translateY(200%);
    -webkit-transform: translateY(200%);
    opacity: 1
}

#field_domains-input {
    color: var(--color-primary);
    padding-left: 10px;
    padding-right: 10px;
}

.oxyian-dotnav>*>* {
    width: 20px !important;
    height: 20px !important;
    border: 1px solid var(--color-primary) !important;
}

.oxyian-dotnav>*>:active {
    background-color: var(--color-secondary) !important;
}

.oxyian-dotnav>.oxyian-active>* {
    background: linear-gradient(89deg, #9c27b0 9.6%, #00bcd4 280.6%) !important;
    /* background-color: var(--color-background) !important; */
}

.oxyian-dotnav>*>:hover {
    background-color: #9c27b0 !important;
}

.oxyian-dotnav>.oxyian-active>* {
    width: 40px !important;
}

.oxyian-dotnav>*>* {
    border-radius: 0 !important;
}

@media (max-width:500px) {
    .oxyian-form-width-large {
        max-width: 350px !important;
    }
}

.oxyian-pattern-dots-sm {
    background-image: radial-gradient(currentColor .5px, transparent .5px);
    background-size: calc(10 * .5px) calc(10 * .5px);
}

.oxyian-brand-gradient {
    background: var(--color-brand) !important;
}

.oxyian-brand-text-gradient {
    position: relative;
    background: var(--color-brand);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.custom-support-icon>svg {
    width: 30px;
}

.custom-header-icon>svg {
    width: 30px;
}

.oxyian-svg-fill-primary {
    fill: var(--color-primary) !important;
}

.oxyian-svg-fill-brand {
    fill: var(--color-brand) !important;
}

.oxyian-svg-stroke-primary {
    stroke: var(--color-primary) !important;
}

.oxyian-svg-stroke-brand {
    stroke: var(--color-brand) !important;
}

.oxyian-body {
    background: var(--color-white) !important;
}

.oxyina-color-background {
    background: var(--color-background) !important;
}


s {
    color: crimson !important;
}

.oxyian-label-default {
    background-color: transparent !important;
    color: var(--color-primary) !important;
    text-transform: none !important;
}

.oxyian-text-large {
    font-size: 1.2rem !important;
}

.oxyian-typewriter {
    bottom: -4px;
    font-size: 20px;
    left: 190px;
    font-weight: bold;
    position: absolute;
    margin: 0;
    transform: translateY(-50%);
    text-transform: capitalize;
}

.oxyian-typewriter span {
    color: var(--color-primary);
    padding: 2px;
    border-right: solid var(--color-primary) 1px;
    animation: cursor 1s ease-in-out infinite;
}

@keyframes cursor {
    from {
        border-color: var(--color-primary);
    }

    to {
        border-color: transparent;
    }
}

.oxyian-text-bold {
    font-weight: 600 !important;
}